<html>
  <head>
    <title>YouTrack issues macros admin</title>
    <meta name="decorator" content="atl.admin" />
  </head>
  <body>
    <form id="admin" class="aui" method="POST">
      <div class="field-group">
        <label for="url">URL:</label>
        <input type="text" id="url" name="url" class="text" value="$url" />
      </div>
      <div class="field-group">
        <label for="user">YT username:</label>
        <input type="text" id="user" name="user" class="text" value="$user" />
      </div>
      <div class="field-group">
        <label for="password">YT password:</label>
        <input type="password" id="password" name="password" class="text" />
      </div>
      <div class="field-group">
        <label for="timeout">Timeout:</label>
        <input type="text" id="timeout" name="timeout" class="text" value="$timeout" />
      </div>
      <div class="field-group">
        <label for="attempts">Attempts:</label>
        <input type="text" id="attempts" name="attempts" class="text" value="$attempts" />
      </div>
      <div class="field-group">
        <label for="attempts">Unavailable duration:</label>
        <input type="text" id="unavailableDuration"
               name="unavailableDuration" class="text" value="$unavailableDuration" />
      </div>
      <div class="field-group">
        <input type="submit" value="Save" class="button" />
      </div>
    </form>
  </body>
</html>
